{
  "plugins": [
    "transform-object-rest-spread",
    [
      "emotion",
      {
        "autoLabel": true,
        "labelFormat": "[filename][local]",
      }
    ]
  ],
  "presets": ["env", "es2015", "react"]
}
