.body {
  position: absolute;
  height: calc(100% - 2em);
  width: 25vw;
  min-width: 400px;
  margin: 1em;
  padding: 1em;
  background: #fefefe;
  box-sizing: border-box;
  transition: .3s all;
  opacity: 0;
  transform: translateX(-1em);
  z-index: -1;
}

.content {
  opacity: 0;
  font-size: 1.1em;
  line-height: 1.5em;
  transition: .2s all;
}

.spinner {
  opacity: 1;
  transition: .2s all;
  width: 2em;
  height: 2em;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}

.hidden { opacity: 0; }
