.boundarySidebarGridLayout {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
  grid-template-areas: "type" "trails" "lengths";
  grid-gap: 1.5em;
  padding: 1em;
}

.trailTypesBreakdown {
  grid-area: type;
}

.trailLengthsBreakdown {
  grid-area: lengths;
  grid-column-start:
}

.trailsChart {
  grid-area: trails;
}
