:root {
  --brand-color: #344632;
  --accent-color: #FF6000;
  --accent-color-tint-light: #FF8244;
  --accent-color-tint-dark: #CA4300;
  --accent-color-tint-darker: #9B3300;
  --gray-1: #F7F7F7;
  --gray-2: #F3F3F3;
  --gray-3: #E9E9E9;
  --gray-4: #D8D8D8;
  --gray-5: #A7A7A7;
  --gray-6: #838383;
  --gray-7: #494949;
  --blue: #3232FF;
  --purple: #5700EC;
  --orange: #FF9500;
  --red: #D0011B;
}
