.elevationTotals {
  display: grid;
  grid-template-columns: 143px .5fr .5fr;
}

.difficultyChart {
  margin-top: -2em;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  padding: 1em .5em .25em .5em;
  text-align: center;
  color: var(--brand-color);
}

.stat.border {
  border-right: 1px solid var(--gray-4);
}

.statIcon svg {
  height: 1.1em;
  width: auto;
  fill: var(--brand-color);
}

.statTotal {
  font-size: 2.2em;
  font-weight: 800;
}

.statLabel {
  font-size: .8em;
}
