.elevationTotals {
  display: grid;
  grid-template-columns: 120px .33fr .33fr .33fr;
}

@media (max-width: 360px) {
  .elevationTotals {
    grid-template-columns: 90px  .33fr .33fr .33fr;
  }
}

.difficultyChart {
  margin-top: -2em;
}

@media (max-width: 360px) {
  .difficultyChart {
    margin-left: -1em;
  }
}
