@import './colors.css';

.body {
  background: var(--gray-2);
}

.mark {
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: .25em;
}

.wordmark {
  width: 100px;
  height: auto;
  line-height: 0;
}

.wordmark svg path {
  fill: var(--brand-color);
}
