.bar {
  display: grid;
  grid-template-columns: 1fr 2em;
  grid-template-rows: 1.1em;
  align-items: center;
}

.barColor {
  width: 100%;
  height: 65%;
  background-color: var(--blue);
}

.bar:nth-of-type(5n + 2) .barColor {
  background-color: var(--purple);
}

.bar:nth-of-type(5n + 3) .barColor {
  background-color: var(--orange);
}

.bar:nth-of-type(5n + 4) .barColor {
  background-color: var(--accent-color);
}

.bar:nth-of-type(5n + 5) .barColor {
  background-color: var(--red);
}

.barLabel {
  font-size: .7em;
  text-align: right;
  color: var(--blue);
}

.bar:nth-of-type(5n + 2) .barLabel {
  color: var(--purple);
}

.bar:nth-of-type(5n + 3) .barLabel {
  color: var(--orange);
}

.bar:nth-of-type(5n + 4) .barLabel {
  color: var(--accent-color);
}

.bar:nth-of-type(5n + 5) .barLabel {
  color: var(--red);
}
