.importantWeather {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.importantWeatherUnit {
  display: grid;
  grid-template-rows: auto .6em;
  justify-items: center;
  align-items: center;
  padding: .5em .5em 1em .5em;
  color: var(--gray-6);
}

@media (max-width: 900px) {
  .importantWeatherUnit {
    font-size: .8em;
  }
}

.importantWeatherUnit:nth-child(odd) {
  background-color: var(--gray-3);
}

.icon {
  width: 3em;
  height: auto;
  margin-top: .5em;
  margin-right: .25em;
}

.icon path {
  fill: var(--gray-6);
}

.low .icon {
  width: 2.5em;
}

.data {
  font-size: 2em;
  font-weight: 500;
}

.label {
  color: var(--gray-5);
  font-size: .6em;
  text-align: center;
}

.hot .icon path {
  fill: var(--accent-color);
}

.cold .icon path {
  fill: var(--purple);
}

.hot .data {
  color: var(--accent-color);
}

.cold .data {
  color: var(--purple);
}
