@import './colors.css';

.body {
  position: absolute;
  height: 100%;
  width: 25vw;
  min-width: 400px;
  border-right: 1px solid var(--gray-4);
  padding: 1em;
  background: var(--gray-1);
  box-sizing: border-box;
  transition: .3s all;
  opacity: 0;
  transform: translateX(-1em);
  z-index: -1;
  overflow: scroll;
  top: 0;
}

.content {
  opacity: 0;
  font-size: 1.1em;
  line-height: 1.5em;
  transition: .2s all;
}

.spinner {
  opacity: 1;
  transition: .2s all;
  width: 2em;
  height: 2em;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}

.hidden { opacity: 0; }
