@import './colors.css';
@import './fonts.css';

.body {
  font-family: var(--body-type);
  position: absolute;
  height: 100%;
  width: 40vw;
  min-width: 320px;
  max-width: 550px;
  background: var(--gray-1);
  color: var(--gray-7);
  border-right: 1px solid var(--gray-4);
  box-sizing: border-box;
  transition: .3s all;
  opacity: 0;
  transform: translateX(-1em);
  z-index: -1;
  overflow: scroll;
  top: 0;
}

@media (max-width: 600px) {
  .body {
    height: 75vh;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    top: auto;
    transform: translateY(1em);
  }
}

.content {
  opacity: 0;
  font-size: 1.1em;
  line-height: 1.5em;
  transition: .2s all;
}

.title {
  font-family: var(--headline-type);
  color: var(--brand-color);
  font-size: 1.4em;
  font-size: 1.4em;
  font-weight: 800;
  padding-bottom: .5em;
  padding: .5em;
}

.spinner {
  opacity: 1;
  transition: .2s all;
  width: 2em;
  height: 2em;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}

.hidden { opacity: 0; }
