.stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  padding: 1em .5em .25em .5em;
  text-align: center;
  color: var(--brand-color);
}

@media (max-width: 900px) {
  .stat {
    font-size: .8em;
  }
}

.stat.border {
  border-right: 1px solid var(--gray-4);
}

.icon {
  height: 1.1em;
  width: auto;
  fill: var(--brand-color);
}

.elevationGain, .elevationLoss {
  height: .8em;
}

.elevationLoss {
  transform: rotate(180deg);
}

.path {
  height: 1.3em;
}

.total {
  font-size: 1.6em;
  font-weight: 800;
  margin-bottom: .25em;
}

.label {
  font-size: .7em;
  line-height: 1.4;
}
