.terrain {
  width: 100%;
  height: 250px;
  background-color: var(--gray-7);
  position: relative;
  grid-area: terrain;
  overflow: hidden;
}

@media (max-width: 600px) {
  .terrain {
    height: 150px;
  }
}

.hidden { opacity: 0; }

.image, .canvas {
  width: 100%;
  height: auto;
}

.canvas, .image, .loadingSpinner {
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  top: 50%;
  position: absolute;
  opacity: 0;
  transition: .2s opacity;
}

.loadingSpinner {
  width: 2em;
  height: 2em;
}

.visible {
  opacity: 1;
}
