:root {
  --latLongColor: rgba(20, 20, 20, 0.9);
}

.terrain {
  width: 100%;
  max-height: 380px;
  height: 42vw;
  background-color: var(--gray-7);
  position: relative;
  grid-area: terrain;
  overflow: hidden;
}

@media (max-width: 600px) {
  .terrain {
    height: 150px;
  }
}

.hidden { opacity: 0; }

.image, .canvas {
  width: 100%;
  height: auto;
}

.canvas, .image, .loadingSpinner {
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  top: 50%;
  position: absolute;
  opacity: 0;
  transition: .2s opacity;
}

.loadingSpinner {
  width: 2em;
  height: 2em;
}

.visible {
  opacity: 1;
}

.latLong {
  background: var(--latLongColor);
  padding: 0 1em;
  font-size: .7em;
  line-height: 1.8;
  color: #fff;
  border-radius: 99px;
  position: absolute;
  transform: translateX(-50%) translateY(-7vw);
}

.triangle {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  display: flex;
  margin-top: -.2em;
}

.triangle svg {
  width: .9em;
  height: .9em;
  fill: var(--latLongColor);
}
