.trailsChartElement {
  display: grid;
  grid-template-columns: 1fr 3em;
  font-size: .8em;
  line-height: 1.1em;
}

.trailsChartElement[id] {
  cursor: pointer;
}

.trailsChartElement:nth-of-type(even) {
  background-color: var(--gray-3);
} 

.name, .distance {
  padding: .5em;
}

.name {
  color: var(--gray-7);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.distance {
  color: var(--gray-5);
  border-left: 1px solid #fff;
  text-align: center;
}