.trailTypes {
  display: grid;
  grid-template-columns: .5fr .5fr;
  grid-column-gap: 1em;
  grid-row-gap: .2em;
}

.percentBar {
  width: 100%;
  height: .7rem;
  display: flex;
  grid-area: bar;
}

.percentBarBar {
  height: 100%;
  background-color: var(--accent-color-tint-darker);
}

.percentBarBar:nth-of-type(4n+2) {
  background-color: var(--accent-color-tint-dark);
}

.percentBarBar:nth-of-type(4n+3) {
  background-color: var(--accent-color);
}

.percentBarBar:nth-of-type(4n+4) {
  background-color: var(--accent-color-tint-lighter);
}

.type {
  display: flex;
  font-size: .8em;
  color: var(--accent-color-tint-darker);
}

.type:nth-of-type(4n+2) {
  color: var(--accent-color-tint-dark);
}

.type:nth-of-type(4n+3) {
  color: var(--accent-color);
}

.type:nth-of-type(4n+4) {
  color: var(--accent-color-tint-lighter);
}

.type svg {
  height: auto;
  width: 1.8em;
  margin-right: .3em;
  fill: var(--accent-color-tint-darker);
}

.type:nth-of-type(4n+2) svg {
  fill: var(--accent-color-tint-dark);
}

.type:nth-of-type(4n+3) svg {
  fill: var(--accent-color);
}

.type:nth-of-type(4n+4) svg {
  fill: var(--accent-color-tint-lighter);
}